@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;800&family=Open+Sans:wght@400;700&display=swap');

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
/*Global*/
.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flex {
	display: flex;
}
/*Container*/
.container {
	width: 615px;
	padding: 0;
	margin: 0 auto;
}
/*left bar*/
.left-bar {
  width: 200px;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  margin-top: 43px;
  margin-left: 16px;
}

.name {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #3f3f40;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
}

.last-name {
  font-size: 24px;
  text-transform: uppercase;
  color: #3f3f40;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 800;
  margin: 0;
}

.profesion {
  font-size: 8px;
  text-transform: uppercase;
  color: #3f3f40;
  text-align: center;
  margin-top: 7px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-bottom: 0;
}

.about-me {
  margin-top: 34px;
  /*position: relative;*/
}

.contact {
  flex-direction: column;
}

/*.bg-fon {
  position: absolute;
  background-color: #b4dbf1;
  width: 825px;
  height: 2500px;
  z-index: -1;
  right: -125px;
  top: 60px;
}*/
.btn {
  width: 130px;
  height: 26px;
  border: 1px solid #3f3f40;
  text-align: center;
  color: #ffffff;
  background-color: #3f3f40;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 5px;
  margin: 0 auto;
  justify-content: center;
}

.decor-text-about {
  display: inline-block;
  text-decoration: none;
  color: #3f3f40;
  font-size: 10px;
  width: 90px;
  margin-top: 15px;

}

.logo-bar {
  width: 12px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 15px;
}

.follow-me {
  margin-top: 15px;
}

.language {
  margin-top: 15px;
  margin-bottom: 5px;
}

.language-list {
  justify-content: space-between;
}

.speech {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #3f3f40;

}

.cir {
  width: 6px;
  font-family: 'Open Sans', sans-serif;
}

.hobbies-list {
  font-size: 10px;
  display: inline-block;
}

.hobbies-list-1 {
  width: 60px;
  color: #3f3f40;
}

.hobbies-list-2 {
  color: #3f3f40;
}
/*right section*/
.section-right {
  width: 415px;
  margin-top: 43px;
}

.img-logo {
  display: inline-block;
  width: 23px;
  outline: solid red;
}

.aaa {
display: inline-block;

outline: solid red;
}

.logo {
  outline: solid red;
}

.subtitle {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #3f3f40;
  border-bottom:2px solid #3f3f40;
  width: 292px;
  margin-left: 10px;
}

.tagline {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #3f3f40;
  font-weight: 400;
  width: 330px;
  text-align: justify;
}

.subtitle-h3 {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #3f3f40;
  font-weight: 700;
}

.date {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #3f3f40;
  font-size: 8px;
}
